<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Your Client ID as defined on https://datamarket.azure.com/developer/applications -->
    <add key="clientid" value="" />
    <!-- Your Client Secret as defined on https://datamarket.azure.com/developer/applications/edit/[replace with client id] -->
    <add key="clientsecret" value="" />
    <!-- Your user authentication token. Note that these expire every few hours.
         Access to user authentication is subject to the terms of http://music.xbox.com/developer/pilot -->
    <add key="xtoken" value="XBL3.0 x=..." />
  </appSettings>

  <system.net>
    <!-- Allow queries to external hosts -->
    <!-- Use Fiddler to capture HTTPS traffic -->
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="True" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
